.App {
  text-align: center;
}

.headMenu {
  transition: all .2s ease-in-out;
  height:5rem;
}
.headMenu.active{
  background-color: #fff;
  height:100%;
}

.subMenuOpen {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
}
.subMenuOpen.active {
  color:#05141f;
  background: #f1f1f1;
}
.tabActive {
  display: block;
}

@media screen and (min-width:768px){
  .headMenu {background-color: transparent;}
  .swiper-button-prev {padding-left:50px}
  .swiper-button-next {padding-right:50px}
}

.swiper-button-prev, .swiper-button-next {
  --swiper-theme-color : #fff; 
}
.swiper-button-prev {padding-left:15px }
.swiper-button-next {padding-right:15px}
.swiper-pagination-bullet-active {
  --swiper-theme-color: #fff;
}

.swiper-pagination-clickable .swiper-pagination-bullet{
  background:  #fff;
}

.btn-primary {
  background-color: #05141f; border: 1px solid #05141f; color: #fff; min-width: 150px; padding: 1pc 24px;
  position: relative; text-align: center;z-index: 1;
}
.btn-primary:hover:after {
  width: 100%; z-index: -1;
}
.btn-primary:after {
  background-color: #37434b;
  content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 0;z-index: -1;
}
.btn-primary, .btn-primary:after {
  -webkit-transition: all .4s;  transition: all .4s;
}

.btn-basic {
  background-color: #fff; border: 1px solid #d3d3d3; color: #424242; min-width: 150px; padding: 1pc 24px;
  position: relative; text-align: center;z-index: 1;
}
.btn-basic:hover:after {
  width: 100%; z-index: -1;
}
.btn-basic:after {
  background-color: #ebebeb;
  content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 0;z-index: -1;
}
.btn-basic, .btn-basic:after {
  -webkit-transition: all .4s;  transition: all .4s;
}
.btn-quick {
  background-color: #f1f1f1; border: 1px solid #efefef; color: #707070; min-width: 100px; padding: 1pc 24px;
  position: relative; text-align: center;z-index: 1;
}
.btn-quick:after {
  background-color: #37434b; color:#fff;
}
.btn-quick:hover:after {
  background-color: #37434b; color:#fff;
}
.btn-quick, .btn-quick:after {
  -webkit-transition: all .4s;  transition: all .4s;
}
.btn-more {
  display: block; visibility: hidden; width:100px;
}
.btn-more:after{ content: "자세히 보기"; visibility: visible;   color:#efefef}
.btn-more:hover:after{ content: "자세히 보기"; visibility: visible; color:#efefef}

/* .ani_text1{
  animation-name: moving_title;
  animation-duration: 2s;
  animation-delay: 0s;
}
@keyframes moving_title{
  0% { transform: translateX(50%);}
  100% { transform: translateX(0%);}
}

.ani_text2{
  animation-name: moving_title2;
  animation-duration: 3s;
  animation-delay: 0s;
}
@keyframes moving_title2{
  0% { transform: translateX(60%);}
  100% { transform: translateX(0%);}
} */